
Examen1Trimestre/.DS_Store
Examen1Trimestre/cenas.xml
Examen1Trimestre/Python/base11enero.py
Examen1Trimestre/Python/test.py
Examen1Trimestre/soldatido.xml
Trabajo17Febrero/.DS_Store
TrabajoFinal/index.html
.DS_Store
TrabajoFinal/index.html
