/* Author Aleksandr Tarasov 1DAW */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95vh;
    background-color: aquamarine;
    text-align: center;
}

h1 {
    color: rebeccapurple;
    font-size: 4vw;
}

h2 {
    font-size: 3vw;
    font-family: 'Courier New', Courier, monospace;
    color: darkblue;
}

.container {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.linea {
    display: flex;
    flex-direction: row;
}

.box {
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    margin: 10px 10px;
    display: flex;
    height: 8vw;
    width: 8vw;
    background-color: blue;
    border: 5px solid black;
    border-radius: 10px;
}
