/* Author Aleksandr Tarasov 1DAW */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95vh;
    background-color: aquamarine;
}

h1 {
    text-align: center;
    color: rebeccapurple;
    font-size: 4vw;
    margin: 2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Cambiamos colores span en h1 */
#ta {
    color: green;
    transform: rotate(15deg);
    display: inline-block;
}

#te{
    color: orange;
    transform: rotate(-15deg);
    display: inline-block;
}

#ti{
    color: yellow;
    transform: rotate(15deg);
    display: inline-block;
}

/* un poco de animation en las letras */
h1 #ta:hover, h1 #te:hover, h1 #ti:hover {
    transform: translateY(-25px);
}
  
h1 #ta, h1 #te, h1 #ti{
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    display: inline-block;
}

h2 {
    text-align: center;
    font-size: 3vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkblue;
    margin: 2px;
}

p {
    font-size: 1vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkblue;
    margin: 2px;

}

.container {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

#container {
    display: none;
}

.linea {
    display: flex;
    flex-direction: row;
}

.box {
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    margin: 10px 10px;
    display: flex;
    height: 8vw;
    width: 8vw;
    background-color: #0057FF;
    border: 5px solid #000000;
    border-radius: 10px;
}

.buttons {
    font-size: 2.5vw;
    margin: 12px auto;
    height: 120px;
    display: flex;
    flex-direction: column;
    font-family:'Courier New', Courier, monospace;
    width: 30vw;
}

button:hover {
    cursor: pointer;
}

#juego {
    padding:14px 0;
    background-color: #0057FF;
    color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #000000;
}


#info {
    margin-top: 16px;
    padding:14px 0;
    background-color: #FFFFFF;
    color: #0057FF;
    border: 1px solid #0057FF;
    border-radius: 10px;
}

#ajustes{
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #0057FF;
    padding: 10px 10px;
    border-radius: 10px;
}

#aplicar {
    margin-top: 16px;
    padding:14px 0;
    background-color: #FFFFFF;
    color: #0057FF;
    border: 1px solid #0057FF;
    border-radius: 10px;
    width: 12vw;
}

#info:hover, #juego:hover {
    border: 1px solid orange;
}

select {
    font-size: 1vw;
    height: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    width: 12vw;
}

select:hover {
    cursor: pointer;
}

select option {
    padding: 14px 0;
    background-color: #0057FF;
    color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #000000;
}

#zonaModo {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50px;
    background-color: blue;
}

#dia {
    display: none;
}

img {
    width: 100%;
    position: absolute;
}